<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp - Edit</title>
</head>

<body class="text-light bg-dark">

  <%- include('partials/_header') %>
  
  <main class="card text-center bg-dark">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>" class="text-warning"><%= shortURL %></a></p>
        <p class="card-text">Visits: <%= visitCount %></p>
        <p class="card-text">Unique visitors: <%= uniqueVisitorCount %></p>
      </div>
    <div class="card-footer text-muted"></div>
    <h1>Edit</h1>
    <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
      <label for="fixURL">New URL:</label>
      <input type="text" id="fixURL" name="fixURL" placeholder="http://www.example.com" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <% if (visitCount > 0) { %>
      <div class="card-footer text-muted"></div>
      <div style="padding: 1em;">
        <h2>Visitors</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Visitor ID</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <% for (const ind in visitors) { %>
              <tr>
                <td><%= visitors[ind] %></td>
                <td><%= visitTimes[ind] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    <% } %>
    </main>

    <%- include('partials/_scripts') %>
</body>
</html>
